@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}


.bg {
    background-color: #004E35;
    height: 640px;
}

a {
    text-decoration: none;
}


.container {
    max-width: 1140px;
    margin: auto;
    font-family: 'Roboto';
    padding: 0 16px;
}

.logo {
    /* margin: 30px; */
    padding-top: 20px;
}

.color {
    color: #88E53E;
}

.head {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 48px;  
    margin-left: 360px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.btn-mobile {
    display: none;
}


.number {
    text-decoration: none;
}

.health {
    max-width: 391px;
    font-size: 24px;
}

.paragraph {
    display: flex;
    justify-content: space-between;
    padding-top: 190px;
}

.health {
    margin-top: 40px;
}


.blue {
    font-size: 169px;
    line-height: 138px;
    letter-spacing: 20px;
}
.hero-section{
    width: 100%;
    background-color: #C0E8C0;
    display: flex;
    align-items: center;
}

.section-image{
   background-size: cover;
   z-index: 10;
   padding: 0 16px;
}

.hero-text{
    text-align: center;
    margin-left: 180px;
    color: #004E35;
    line-height: 58px;
}

.protect{
    font-size: 62px;
}


@media screen and (max-width: 1000px) {
    .head {
        display: none;
    }


    .btn-mobile {
        display: block;
        padding: 10px 15px;
        border-radius: 10px;
        background: none;
        outline: none;
        color: #88E53E;
        border: 1px solid #88E53E;
    }
    .blue {
        font-size: 100px;
        line-height: 90px;
    }

    .health {
        text-align: center;
    }


}

@media screen and (max-width: 790px) {
    .paragraph {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 120px;
    }

    .blue {
        font-size: 80px;
        line-height: 70px;
        margin-bottom: 20px;
    }

    .health {
        margin: 0 auto;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .get {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .blue {
        font-size: 60px;
        line-height: 50px;
    }

    .health {
        font-size: 16px;
    }

    .get {
        font-size: 16px;
    }
}


@media screen and (max-width: 1100px) {
    .hero-section{
        display: flex;
        flex-direction: column;
    }

    .hero-text{
       margin-left: -15px;
       padding-top: 150px;
    }

    .theme{
        width: 960px;
    }

}

@media screen and (max-width: 900px) {
    .theme{
        width: 785px;
    }
}

@media screen and (max-width: 790px) {
    .protect{
        font-size: 50px;
    }
     .hero-text{
        margin-top: 10px;
        line-height: 40px;
     }

     .theme{
       width: 665px;
    }
}

@media screen and (max-width: 600px) {
    .theme{
        max-width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .theme{
        max-width: 397px
    }
}

@media screen and (max-width: 400px) {
    .theme{
        width: 536px;
    }
}