@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.bg {
    background-color: #004E35;
    height: 640px;
}

a {
    text-decoration: none;
}


.container {
    max-width: 1140px;
    margin: auto;
    font-family: 'Roboto';
    padding: 0 16px;
}

.color {
    color: #88E53E;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 48px;
    margin-left: 360px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 16px;
}

.btn-mobile {
    display: none;
}


.number {
    text-decoration: none;
}

.health {
    max-width: 391px;
    font-size: 24px;
}

.paragraph {
    display: flex;
    justify-content: space-between;
    padding-top: 190px;
}

.health {
    margin-top: 40px;
}


.blue {
    font-size: 169px;
    line-height: 138px;
    letter-spacing: 20px;
}

.image-section {
    width: 100%;
    background-color: #C0E8C0;
    display: flex;
    align-items: center;
}

.section-image {
    background-size: cover;
    z-index: 10;
    padding: 0 16px;
}

.hero-text {
    text-align: center;
    margin-left: 180px;
    color: #004E35;
    line-height: 58px;
}

.protect {
    font-size: 62px;
}


.mission-section {
    padding: 60px 0;
}

.text-center {
    text-align: center;
    font-size: 108px;
    color: #004E35;
    line-height: 140px;
    margin-bottom: 83px;
}

.mission-menu {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    margin-bottom: 17px;
}

.action {
    text-align: center;
    max-width: 100px;
    font-size: 20px;
    color: #004E35;
}

.line {
    height: 1px;
    background-color: #004E35;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 33px;
}

.text-p {
    font-size: 24px;
    text-align: center;
    color: #004E35;
    max-width: 591px;
    margin: 0 auto;
    font-weight: 400;
}

.logo-image {
    background-color: #004E35;
    padding-bottom: 50px;
    padding-top: 30px;
}

.image-ero {
    display: flex;
    justify-content: center;
    width: 100%;
}

.text-f {
    font-size: 139px;
    margin-left: -70px;
    color: #FBF4EB;
    font-weight: 1000;
    line-height: 130px;
    padding: 100px 0;
}

.crt-text {
    max-width: 284px;
    font-size: 45px;
}

.cart1 {
    background: #FBF4EB;
    border-radius: 0px;
    width: 350px;
    padding: 24px;
    height: 240px;
    margin-left: -70px;
}

.vector-icon {
    margin-top: 50px;
}

.updates {
    margin-bottom: 122px;
}

.carts {
    display: flex;
    gap: 170px;
    margin-top: 438px;
}

.le-text {
    color: #FBF4EB;
    font-size: 35px;
}

.mages {
    margin-left: -70px;
}

.text-b {
    font-size: 14px;
    letter-spacing: 3.2px;
    color: #004E35;
    padding: 13px 0;
}

.Battle {
    font-size: 24px;
    max-width: 491px;
    color: #004E35;
    padding: 15px 0;
}

.text-s {
    color: #004E35;
    font-size: 18px;
    padding: 24px 0;
    max-width: 542px;
}

.group-images {
    display: flex;
    gap: 100px;
    margin-top: 138px;
}

.text-d {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 130px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    max-width: 476px;
    font-size: 134px;
    margin-left: -70px;
    padding: 50px 0;
    color: #004E35;
}

.group-line {
    display: flex;
    gap: 32px;
}

.line-section {
    background: #004E35;
    border-radius: 0px;
    padding: 10px;
}

.line-text {
    margin-left: -100px;
    color: #FBF4EB;
    font-size: 35px;
}

.sc-btn {
    color: #004E35;
    background: #88E53E;
    border-radius: 640px;
    padding: 15px 30px;
    border: none;
}

.sct-btn {
    color: #004E35;
    background: #88E53E;
    border-radius: 640px;
    padding: 15px 30px;
    border: none;
}

.lne-text {
    color: #FBF4EB;
    font-size: 35px;
}

.footer {
    background: #C0E8C0;
    padding: 300px 0;
}

.footer-text {
    font-size: 107px;
    color: #004E35;
    line-height: 101px;
    letter-spacing: 1px;
    font-weight: 800;
}

.text-fo {
    display: flex;
    align-items: center;
}

.footer-a {
    color: #004E35;
    font-size: 13px;
}

.a-menu{
    position: relative;
    display: flex;
    gap: 205px;
    top: 300px;
}


@media screen and (max-width: 1190px) {
    .text-f {
        font-size: 100px;
        text-align: center;
    }

    .a-menu{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: -300px;
    }

    .footer-text{
        margin-top: -300px;
        text-align: center;
    }

    .group-images {
        display: flex;
        flex-direction: column;
    }

    .mages {
        margin: 0 auto;
        text-align: center;
    }

    .text-d {
        margin: 0 auto;
    }

    .flovers {
        width: 100%;
    }

    .carts {
        display: flex;
        flex-direction: column;
        margin-top: -40px;
    }


    .cart1 {
        margin: 0 auto;
    }

    .Battle {
        margin: 0 auto;
    }

    .line-text {
        display: none;
    }

    .le-text {
        display: none;
    }

    .sct-btn {
        display: none;
    }

}

@media screen and (max-width: 1100px) {
    .image-section {
        padding-bottom: 220px;
    }

    .text-f {
        font-size: 100px;
        text-align: center;
    }

    .flovers {
        width: 100%;
    }
}


@media screen and (max-width: 1000px) {
    .navbar {
        display: none;
    }

    .lne-text {
        margin: 0 auto;
    }

    .sc-btn {
        margin: 0 auto;
    }

    .text-f {
        font-size: 100px;
        text-align: center;
    }

    .flovers {
        width: 100%;
    }

    .text-center {
        font-size: 65px;
        line-height: 90px;
    }

    .mission-menu {
        display: flex;
        flex-direction: column;

    }

    .action {
        margin: 0 auto;
    }

    .text-p {
        font-size: 20px;
    }

    .btn-mobile {
        display: block;
        padding: 10px 15px;
        border-radius: 10px;
        background: none;
        outline: none;
        color: #88E53E;
        border: 1px solid #88E53E;
    }

    .blue {
        font-size: 100px;
        line-height: 90px;
    }

    .health {
        text-align: center;
    }


}

@media screen and (max-width: 790px) {
    .paragraph {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 120px;
    }

    .footer-text{
        font-size: 90px;
    }

    .lne-text {
        display: none;
    }

    .text-f {
        font-size: 60px;
        line-height: 60px;
        text-align: center;
    }

    .flovers {
        width: 100%;
    }

    .blue {
        font-size: 80px;
        line-height: 70px;
        margin-bottom: 20px;
    }

    .health {
        margin: 0 auto;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .get {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .text-f {
        font-size: 60px;
        text-align: center;
    }

    .blue {
        font-size: 60px;
        line-height: 50px;
    }

    .flovers {
        width: 100%;
    }

    .health {
        font-size: 16px;
    }

    .get {
        font-size: 16px;
    }
}


@media screen and (max-width: 1100px) {
    .image-section {
        display: flex;
        flex-direction: column;
    }

    .flovers {
        width: 100%;
    }

    .hero-text {
        margin-left: -15px;
        padding-top: 150px;
    }

    .theme {
        width: 100%;
    }

}

@media screen and (max-width: 900px) {
    .theme {
        width: 100%;
    }

    .text-d {
        font-size: 100px;
        line-height: 80px;
    }

    .flovers {
        width: 100%;
    }
}

@media screen and (max-width: 790px) {
    .protect {
        font-size: 50px;
    }

    .hero-text {
        margin-top: 10px;
        line-height: 40px;
    }

    .text-d {
        font-size: 80px;
        line-height: 80px;
    }

    .flovers {
        width: 100%;
    }

    .theme {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .theme {
        max-width: 100%;
    }
    

    .footer-text{
        font-size: 70px;
    }

    .input {
        width: 100%;
    }

    .flovers {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .theme {
        max-width: 100%;
    }

    .footer-text{
        font-size: 50px;
        line-height: 50px;
    }

    .cart1 {
        width: 100px;
        height: 120px;
    }

    .text-d {
        font-size: 60px;
        line-height: 80px;
    }

    .crt-text {
        display: grid;
        font-size: 15px;
    }

    .flovers {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .theme {
        width: 100%;
    }

    .text-d {
        font-size: 40px;
        line-height: 50px;
    }

    .footer-text{
        font-size: 40px;
    }

    .flovers {
        width: 100%;
    }

    .protect {
        font-size: 40px;
    }

    .text-center {
        font-size: 40px;
        line-height: 50px;
    }

    .text-f {
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        margin: 0 auto;
    }
}